<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Home</title>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Ubuntu&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/6ed934551a.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/index.css">
</head>

<body>
  
  
  <section id="title">
    <div class="container-fluid">
      <nav class="navbar  navbar-expand-lg navbar-dark"><a class="navbar-brand"  href="\"><span id="navbar-brand">DIGILOCKER</span></a>    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button><div class="collapse navbar-collapse" id="navbarSupportedContent"><ul class="navbar-nav ml-auto"><li class="nav-item"><a class="nav-link" href="signup.ejs">Services</a></li><li class="nav-item"><a class="nav-link" href="about.ejs">About</a></li><li class="nav-item"><a class="nav-link" href="signup.ejs" > Login | Signup</a>          </li>       </ul>   </div></nav>
      <div class="row">
        <div class="col-lg-6">
          <h1 class="big-text" >Easy and Quick.</h1>
          <button class="btn btn-dark btn-lg" href="signup.ejs" type="button"><i class="fa-brands fa-apple" ></i> Download</button>
          <button class="btn btn-outline-light btn-lg" type="button" href="signup.ejs"><i class="fa-brands fa-google-play"></i> Download</button>
        </div>
        <div class="col-lg-6">
          <img class="iphone" src="images/certificate (1).png" alt="iphone-mockup">
        </div>
      </div>
    </div>

  </section>
  <section id="features">
    <div class="row" id="verify">
      <div class="col-md-2">
        <i style="padding: 20%;" class="icon arrow fa-solid fa-arrow-right fa-2x "></i>
      </div>
      <div class="col-md-2">
        <i class="icon fa-solid fa-user fa-4x"></i>
        <p>Login</p>
        
      </div>
      <div class="col-md-2">
        <i style="padding: 20%;" class="icon arrow fa-solid fa-arrow-right fa-2x" id="arrow"></i>
        
      </div>

      <div class="col-md-2">
        <i class="icon fa-solid fa-fingerprint fa-4x"></i>
        <p>Verify</p>
      </div>
      <div class="col-md-2">
        <i style="padding: 20%;" class="icon fa-solid fa-arrow-right fa-2x" id="arrow"></i>
      </div>

      <div class="col-md-2">
        <i  class="icon fa-solid fa-cloud-arrow-down fa-4x"></i>
        <p>Download</p>
      </div>
    </div>

  </section>
  <section id="testimonials">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="2000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="testimonial-image" src="images/caro.png">
        </div>
        
        
    </div>
  </section>
  <section id="pricing">

    <h2 class="section-heading">A Plan for Every student Needs</h2>
    <p>Simple and quick plan for your important files.</p>
    <div class="row">
        <div class="pricing-column col-lg-4 col-md-6">
          <div class="card ">
            <div class="card-header">
              <img class="marks-sheet"src="images/documentation.png">
              <h3>Marks sheet</h3>
            </div>
              <div class="card-body">
              <button class="btn2 btn-outline-dark btn-block btn-lg" href="signup.ejs" type="button">GET</button> 
            </div>
          </div>
        </div>
      <div class="pricing-column col-lg-4 col-md-6">
      <div class="card ">
          <div class="card-header">
            <img class="marks-sheet" src="images/checklist (1).png" alt="" srcset="">
            <h3>Transfer certificate</h3>
          </div>
          <div class="card-body">
            
            <button class="btn2 btn-dark btn-block btn-lg" href="signup.ejs" type="button">GET</button> 
          </div>
        </div>
      </div>
      <div class="pricing-column col-lg-4 col-md-6">
          <div class="card ">
            <div class="card-header">
              <img class="marks-sheet" src="images/certificate (1).png" alt="" srcset="">
              <h3>Bonafide</h3>
            </div>
            <div class="card-body">
              <button class="btn2 btn-dark btn-block btn-lg" type="button" href="signup.ejs">GET</button>
            </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Call to Action -->

  <section id="cta">
    <h1 class="o">"</h1>
    <h2 class="footerheading"><blockquote>SATE HITAM SATYAM</blockquote></h2>
    <button id="s" class="btn btn-dark btn-lg" type="button"><i class="fa-brands fa-apple"></i> Download</button>
    <button id="s" class="btn btn-outline-light btn-lg" type="button"><i class="fa-brands fa-google-play"></i> Download</button>

  </section>


  <!-- Footer -->

  <footer id="footer">
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-facebook-f"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-solid fa-envelope"></i>
    <p class="copy">© Copyright KOPSS</p>

  </footer>
  
  
  <script src="https://kit.fontawesome.com/6ed934551a.js" crossorigin="anonymous">
    
  </script>
  

  
</body>

</html>
