body{
    font-family: montserrat;
    text-align: center;
}
.section{
    background-image: linear-gradient( 135deg, #82CD47 10%, #F0FF42 100%);

}
h1,h2,h3,h4,h5,h6 {
    font-family: Montserrat;
    
}
.marks-sheet{
    height: 100px;
}
.o{
    font-size: 100px;
    padding: 0%;
    color: black;
    font-family: 'Rampart One', cursive;}
p{
    color: #8f8f8f;
}
.big-text{
    font-size: 3rem;
    font-weight: 900;
    color: #F0FF42;
    
}
#features{
    line-height: 2.5;
    padding: 4% 15%; 
    background-color: #fff;
    position: relative; 
    z-index: 1; 
}
.feature-title {
    font-weight: bold;
}
.col-md-4{
    text-align: center;
}
.row {
    margin: 0px;
}
.card {
    border-radius: 5%;
}
.card:hover {
    transform: translateY(-20px);
    transition: 0.5s;
}

#pricing {
    padding: 100px;
}
.price-text {
    font-weight: bold;
    line-height: 1.5;
}
.pricing-column {
    padding: 3% 2%;
}



